body { 
    background-color: #8DBD8D; 
    text-align: center; 
}

.center {
    position: relative;
    margin: auto;
    width: 132px;
    height: 132px;
}

.loader {
    border-left: 16px solid #ffa700; /* Light grey */
    border-top: 16px solid #008744;
    border-right: 16px solid #0057e7;
    border-bottom: 16px solid #d62d20;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content{
    width: auto;
    height: 300px;
    margin: auto;
    background-color: whitesmoke;
}